/*Animals Quiz css property*/
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #001e3d;
}

.bg {
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 30px;
}
.bg h1{
    border-bottom: 1px solid#333 ;
    padding-bottom: 15px;
}
.quiz {
    padding: 15px 0;
}
.quiz h2 {
    padding: 15px;
}

.quiz #answer-btn {
    padding: 10px;
    display: block;
    margin: 10px auto;
    width: 100%;
    transition: all .3s;
}
.btn {
    margin: 10px auto;
    width: 100%;
    padding: 15px 14px;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover:not([disabled]){
    background:#222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn {
    text-align: center;
    width: 100px;
    padding: 10px;
    margin-left: 250px;
    border: 1px solid#001e3d;
    border-radius: 5px;
    background: #001e3d;
    color: white;
    cursor:pointer;
    display: none;
}
.correct{
    background: rgb(113, 236, 113);
}
.incorrect{
    background: rgb(209, 124, 124);
}